/** HEADER **/

.main-header { 
	background-color: #ffffff;
	height: 77.5px;
	padding-top: 27.5px;
}
/** for mentor -  tried to use vertical align, but found manual method of adjusting height and padding was easiest **/

.search {
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 42.5px;
	border-radius: 5px;
	border-style: solid;
	border-color: #dddddd;
	padding-left: 15px;
	font-size: 16pt;
}

/** IMAGE GALLERY **/

.container {
	width: 98%;
	max-width: 980px;
	margin: auto;
	text-align: center;
}

.pics {
	display: inline-block;
	width: 30%;
	max-width: 205px;
	text-align: center;
	margin: 25px 30px;
}

.pics:hover {
	cursor: pointer;
}

.pics img {
	max-width: 100%;
	max-height: 100%;
}

/** JQUERY OBJECT STYLES **/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    text-align: center;
}

.overlay-img {
	width: 100%;
	max-width: 850px;
	z-index: 100;
}

.caption {
	color: white;
	max-width: 80%;
	text-align: center;
	margin: 20px auto;
}

.img-wrapper {
	position: relative;
	width: 60%;
	max-width: 850px;
	margin: 30% auto 0px;
}

.arrow-right {
	position: absolute;
	top: 50%;
	right: -20%;
	color: white;
}

.arrow-right:hover,
.arrow-left:hover,
.close-button {
	cursor: pointer;
}

.arrow-right::before {
	content: '';
	width: 1.5em;
    height: 1.5em;
	border-right: .2em solid gray;
    border-top: .2em solid gray;
    transform: rotate(45deg);
    display: block;
}

.arrow-left {
	position: absolute;
	top: 50%;
	left: -20%;
	color: white;
}

.arrow-left::before {
	content: '';
	width: 1.5em;
    height: 1.5em;
	border-left: .2em solid gray;
    border-top: .2em solid gray;
    transform: rotate(-45deg);
    display: block;
}

.close-button {
	position: absolute;
	top: -15%;
	right: -20%;
	color: gray;
	width: 40px;
	height: 40px;
}

.close-button::before {
	position: absolute;
	top: 0%;
    right: 0%;
	content: '';
	width: 36px;
    height: 4px;
    background-color: gray;
    display: block;
    transform: rotate(45deg);
}

.close-button::after {
    position: absolute;
	top: 0%;
    right: 0%;
    content: '';
	width: 36px;
    height: 4px;
	background-color: gray;
    display: block;
    transform: rotate(-45deg);
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 0.5s linear;
}

/** MEDIA QUERIES **/

@media (min-width: 820px) {
	.search {
		width: 460px;
	}

	.img-wrapper {
		position: relative;
		width: 60%;
		max-width: 850px;
		margin: 10% auto 50px;
	
	}

	.caption {
		color: white;
		max-width: 600px;
		text-align: center;
		margin: 20px auto;
	}

	.close-button {
		right: -10%;
	}
}

@media (min-width: 1025px) {

	.pics {
		width: 20%;
	}

	.pics:nth-of-type(4n) {
		margin-right: 0px;

	}
 
	.pics:nth-of-type(4n + 1) {
		margin-left: 0px;
	}

}








